/**
 * FILEPATH: /c:/Users/welli/OneDrive/Área de Trabalho/blog/style.css
 * 
 * This CSS file contains the general styles for a blog website. It includes styles for the header, navigation, main content, news section, footer, and responsive design.
 * 
 * Styles:
 * - General styles for the body
 * - Styles for the header and navigation
 * - Styles for the main content and news section
 * - Styles for the footer
 * - Styles for the responsive design
 */
/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Cabeçalho */
.cabecalho {
  background-color: #e6873a;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav a {
  text-decoration: none;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 0px;
  position: relative;
  top: 1px;
}

main a {
  color: #333;
  text-decoration: none;
}

span {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
  left: 20px;
  top: 20px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 1em;
}

li img {
  width: 100%;
  border-radius: 5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
  position: relative;
  right: 430px;
  font-size: 1.4em;
  font-weight: bold;
}

.ancora {
  color: #161616;
  text-decoration: none;
  padding: 10px;
  position: relative;
  right: 30px;
}

.navbar2 {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  margin: 0;
  color: #160101;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6873a;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  left: 300px;
}

.logo {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  position: relative;
  left: 2rem;
}

.logo-senai {
  display: flex;
  align-items: center;
  width: 90px;
  height: 90px;
  position: relative;
  right: 4rem;
}

/* Estrutura geral da notícia */
.news {
  display: flex;
  width: 100%;
  height: 30rem;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Seção da imagem */
.news img {
  width: 80%;
  height: auto;
  object-fit: cover;
  position: relative;
  left: 4rem;
}

/* Seção do texto */
.texto {
  width: 50%;
  text-justify: newspaper;
  padding: 20px;
}

/* Título da notícia */
.titulo h2 {
  font-size: 1.2rem;
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  position: relative;
  left: 4rem;
}

/* Corpo do texto da notícia */
.texto p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  position: relative;
  right: 4rem;
}

/* Notícias */
.noticias {
  margin-top: 7em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  position: relative;
}

.noticias h2 {
  margin-bottom: 10px;
}

.noticias ul {
  list-style: none;
  padding: 0;
}

.noticias ul li {
  margin-bottom: 40px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.noticias ul li a:hover {
  color: #ccc;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

aside {
  width: 20em;
  background-color: #ffffff00;
  padding: 20px;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 500px;
}

aside ul {
  padding: 0;
}

aside ul li {
  margin-bottom: 5px;
}

aside ul li a {
  color: #333;
  text-decoration: none;
}

aside ul li a:hover {
  color: #ccc;
}

nav a:hover {
  color: #ccc;
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}

/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 150px;
  --height-of-input: 30px;
  --border-height: 2px;
  --input-bg: #ffffffc0;
  --border-color: #e79418;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
  position: relative;
  right: 3rem;
}

/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  /* Cabeçalho */
  header {
    position: static;
  }

  .navbar {
    justify-content: space-between;
    right: 0;
  }

  .navbar2 {
    justify-content: flex-end;
  }

  .search-form {
    justify-content: flex-start;
    left: 0;
  }

  .form {
    left: 0;
    margin-top: 1em;
  }

  /* Notícias */
  .noticias {
    flex-direction: column;
    align-items: center;
  }

  .noticias ul li {
    margin-bottom: 20px;
  }

  /* Container */
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
}

