@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  font-family: Outfit;
  background-color: rgb(243, 234, 239);
}
.pagina{
  margin: auto;
  width: 90%;
}
.logotipo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #000000;
}
.topo {
  display: flex;
  margin: 20px;
  gap: 20px;
  align-items: center;
}
.nome {
  display: flex;
  font-weight: 700;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
  border-right: 5px solid black;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.topo_end {
  margin-left: auto;
}
.navegacao a {
  text-decoration: none;
  margin-right: 30px;
  color: #000000;
  font-weight: 700;
}
.chamadas {
    text-align: center;
    margin: 40px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #000000;
}
.p1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
}
.p2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}
strong {
    font-weight: 700;
}
.p3 {
    font-size: 20px;
}

.ia_1, .ia_2, .ia_3 {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}
.ia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0.2px #000000;
  border-radius: 5px;
}
.ia h2 {
  font-weight: 700;
  font-size: 20px;
  margin: 20px;
}
.ia p {
  padding: 10px;
  text-align: center;
}
.icones {
  margin: 0 auto;
  width: 100px;
  border-radius: 17px;
  padding: 10px;
  align-content: center;
}
.link {
  margin-top: auto;
  margin-bottom: 10px;
}
.link button {
  cursor: pointer;
  background-color: rgb(146, 146, 146);
  border: none;
  color: white;
  border-radius: 5px;
}
.rodape {
  display: flex;
  margin: 10px;
  gap: 60px;
  justify-content: center;
  margin: 100px 0px 30px 0px;
  background-color: rgb(255, 255, 255);
  height: 80px;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 10px 0.2px #000000;
  border-radius: 5px;
}
.social {
  width: 15px;
}
